body {
  background: #eef3ff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 90%;
  height: 300px;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}

.controls {
  margin-top: 15px;
}

input {
  font-size: 20px;
  width: 80px;
}

button {
  margin-top: 20px;
  padding: 12px 28px;
  font-size: 22px;
  background: #1a66ff;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

#outputBox {
  margin-top: 30px;
  background: white;
  min-height: 200px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  text-align: left;
}



